.footer {
  background: #f6f6f6;
  font-family: Lato;
}
.footer-container {
  padding: 50px;
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}
.footer p {
  display: grid;
  justify-items: center;
}
